$primary-color: #000000;

$darkShadow-hover: (
  box-shadow: 0px 0px 10px 3px $primary-color,
);

$border-radius: (
  border-radius: 10px,
);

$border: (
  border: 2px solid $primary-color,
);

%input-style {
  border: map-get($border, border);
  border-radius: map-get($border-radius, border-radius);

  &:hover {
    box-shadow: map-get($darkShadow-hover, box-shadow);
  }
}

%button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: map-get($border-radius, border-radius);
  width: 25px;
  border: map-get($border, border);
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
}
